<li>
    <div class="burger">
        <h4>{{name}}</h4>
        <p>{{description}}</p>
        
        {{#unless devoured}}
            <button class="devour-burger" data-id="{{this.id}}">
                Devour Burger
            </button>
            <button class="update-burger" type="submit" data-id="{{this.id}}">
                Update Burger {{this.id}}
            </button>
            <input id="update{{this.id}}" type="text" placeholder="Enter New Ingredients"/>
        {{/unless}}
        {{#if devoured}}
            <button class="delete-burger" data-id="{{this.id}}">
                Clean Up the Mess
            </button>
        {{/if}}
    </div>
</li>