<li>
    <div class="burger">
        <h4>{{name}}</h4>
        <p>{{description}}</p>
        <input id="update{{this.id}}" type="text" placeholder="update toppings"/>
        <button class="update-burger" type="submit" data-id="{{this.id}}">Update Toppings</button>
        <button class="devour-burger" data-id="{{this.id}}">Devour Me</button>
        <button class="delete-burger" data-id="{{this.id}}">Delete Me</button>
    </div>
</li>